@import "../../../scss/mexins.scss";

.main {
  width: 100vw;
  padding: 5px 0;
  height: calc(100vh - 100px);

  .mainBox {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    font-size: 2rem;
    color: white;

    @include background();
  }
}
