@import "../../../../scss/mexins.scss";
@import "../../../../scss/variables.scss";

.head {
  width: 100%;
  padding: 20px;
  flex: 300px 0 0;
  border-radius: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include background();

  .userInfo {
    // height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    border: 1px solid $aqua;
    border-radius: 20px;
    box-shadow: 0 0 20px $aqua;

    .editBtnBox {
      display: flex;
      justify-content: flex-end;
    }

    .titleBox {
      padding-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        color: $aqua;

        @include midShine($aqua);
      }
    }

    .nameSurname {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: $purple;

      @include midShine($purple);
    }

    .buttons {
      display: flex;
      justify-content: space-around;
      align-items: end;
      flex-grow: 1;
    }
  }
}
