@import "../../scss/variables";
@import "../../scss/mexins";

.link {
  color: rgba($aqua, 0.2);
  text-decoration: underline;
  cursor: pointer;
  transition: linear 1s;
  border-radius: 10px;
  font-size: 1.5rem;

  &:hover {
    color: $aqua;
    @include highShine($aqua);
  }
}
