@import "../../scss/variables.scss";

.avatarImageWrapper {
   margin-top: 10px;
   width: min(300px, calc(100vw - 50px));
   height: min(300px, calc(100vw - 50px));
   border-radius: 50%;
   overflow: hidden;
   box-shadow: 0px 0px 20px rgba($aqua, 0.5);
   // cursor: pointer;
}