.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: rgba(255, 255, 255, 0.3);
}

.error {
  color: rgba(255, 0, 100, 0.3);
  filter: drop-shadow(0 0 5px rgb(255, 0, 100))
    drop-shadow(0 0 10px rgb(255, 0, 100))
    drop-shadow(0 0 15px rgb(255, 0, 100));
}
