@import "../../scss/variables.scss";
@import "../../scss/mexins.scss";

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.15);
    flex: 0 0 30px;
    line-height: 30px;
  }
}

.error {
  margin: 5px 0;
  color: $red;
  @include midShine($red);
  font-size: 0.9rem;
}
