@import "../../../../../scss/mexins.scss";
@import "../../../../../scss/variables.scss";

.avatarContainer {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;

  @include backgroundLight();

  .nickname {
    @include midShine($aqua);
  }

  .name {
    margin-bottom: 10px;

    @include midShine($purple);
  }
}
