@import-normalize;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(3, 3, 20);
  background: linear-gradient(
    315deg,
    rgba(3, 3, 20, 1) 13%,
    rgba(21, 24, 50, 1) 100%
  );
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: max(40vw, 40vh);
  height: max(40vw, 40vh);
  background: rgb(0, 247, 255);
  background: radial-gradient(
    circle,
    rgba(0, 247, 255, 0.5) 0%,
    rgba(0, 247, 255, 0) 70%
  );
  z-index: -1;
}

body::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: max(40vw, 40vh);
  height: max(40vw, 40vh);
  background: rgb(233, 0, 255);
  background: radial-gradient(
    circle,
    rgba(233, 0, 255, 0.7) 0%,
    rgba(233, 0, 255, 0) 70%
  );
  z-index: -1;
}

.tilt {
  padding: 0 !important;
  margin: 0 !important;
  width: auto !important;
  background: transparent !important;
}
