@import "./variables.scss";

@mixin lowShine($color) {
  filter: drop-shadow(0 0 5px $color);
}

@mixin midShine($color) {
  filter: drop-shadow(0 0 5px $color) drop-shadow(0 0 10px $color);
}

@mixin highShine($color) {
  filter: drop-shadow(0 0 5px $color) drop-shadow(0 0 10px $color)
    drop-shadow(0 0 15px $color);
}

@mixin background() {
  box-shadow: 10px 10px 20px rgba($aqua, 0.5);
  background: rgba(0, 0, 0, 0.6);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

@mixin backgroundLight() {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}
