@mixin lowShine($color) {
  filter: drop-shadow(0 0 5px $color);
}

@mixin midShine($color) {
  filter: drop-shadow(0 0 5px $color) drop-shadow(0 0 10px $color);
}

@mixin highShine($color) {
  filter: drop-shadow(0 0 5px $color) drop-shadow(0 0 10px $color)
    drop-shadow(0 0 15px $color);
}

@mixin background() {
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
